<h2>Certifications <span class="edit">edit</span></h2>
<ul>
  <% if @profile.full_profile_at.nil? %>
    <% @linkedin_profile.certifications.each do |item| %>
      <li>
        <blockquote>
          <p><%= item.name %></p>
        </blockquote>
      </li>
    <% end %>
  <% else %>
      <% if @profile.profile_certifications.count == 0 %>
        <li>
          <blockquote><p>Please add..</p></blockquote>
        </li>
      <% else %>
        <% @profile.profile_certifications.each do |pc| %>
          <li>
            <blockquote>
              <p><%= pc.name %></p>
            </blockquote>
          </li>
        <% end %>
      <% end %>
  <% end %>
</ul>

