<h3>Career Level</h3>
<a class="save" href="">save</a>
<%= form_for @profile do |f| %>
  <% if @profile.positions.default.first.job_level.present? %>
    <%= collection_select(:position, :level, JobLevel.all, :id, :name, {:selected => @profile.positions.default.first.job_level.id}, {:style => "width:130px"}) %>
  <% else %>
    <%= collection_select(:position, :level, JobLevel.all, :id, :name, {:style => "width:130px"}) %>
  <% end %>
  <%= hidden_field_tag "profile_card", "career_level" %>
<% end %>