<h2>I&rsquo;m Looking For<span class="save">save</span></h2>
<%= form_for @profile do |f| %>
  <p><%= f.text_area :looking_for, :rows => 0 %></p>
  <%= hidden_field_tag "profile_tab_info", "looking_for" %>
<% end %>