<a class="save">save</a>
<%= form_for @profile do |f| %>
  <%# f.fields_for :positions do |position| %>
    <%= collection_select(:position, :title, @profile.positions, :id, :title, {:style => "width:120px"}) %>
  <%# end %>
  <%= hidden_field_tag "profile_card", "title" %>
<% end %>