<h3>Region</h3>
<a class="edit">edit</a>
<% if @profile.location.present? %>
  <% if @profile.location.city.present? %>
    <span><%= @profile.location.city %></span>
  <% else %>
    <span>Please add..</span>
  <% end %>
<% else %>
  <span>Please add..</span>
<% end %>
