<html>
<head>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
</head>
<body>
<%= image_tag current_user.profile.avatar.url, :id => "new_avatar" %>
</body>
</html>